################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/KnightOfNights/Unity/Assets/Assemblies/**.dll
/BuldScript/bin/Debug/net472
/BuldScript/obj
/UnityScriptShims/bin/Debug/net472
/UnityScriptShims/obj
/BuldScript/bin/Release/net472
/KnightOfNights/Unity/Assets/AssetBundles
/KnightOfNights/Unity/Assets/Resources/Music/*.mp3
/BuldScript/bin/Debug/netstandard2.1
