################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/KnightOfNights/Unity/Assets/Assemblies/**.dll
