################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/KnightOfNights/Unity/Assets/Assemblies/**.dll
/BuldScript/bin/Debug/net472
/BuldScript/obj
/UnityScriptShims/bin/Debug/net472
/UnityScriptShims/obj
